---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import { CardWrapper } from "../components/CardWrapper";
---

<Layout title="w. | weather & more">
  <main class="flex items-center justify-center flex-col gap-16">
    <NavBar />
    <CardWrapper client:visible />
  </main>
</Layout>
