---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Quote from "../components/Quote.astro";
import { CardWrapper } from "../components/CardWrapper";
---

<Layout title="w. | weather & more">
  <main class="flex items-center justify-center flex-col">
    <NavBar />
    <Quote />
    <CardWrapper />
  </main>
</Layout>
