---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="Welcome to Astro.">
  <main class="bg-red-100 flex items-center justify-center">
		<NavBar />
	</main>
</Layout>
