---
export interface props {
  color: string;
  height: string;
}

const { color, height } = Astro.props;
---

<div
  class={`w-[340px] min-h-[100px] flex flex-col justify-center rounded-3xl p-6 ${color} ${height}`}
>
  <slot />
</div>
