---
import { SearchBar } from "./SearchBar";

import githubIcon from "../assets/github.svg";
---

<nav class="w-fit flex justify-center items-center mt-8 gap-2 sm:gap-4 z-10">
  <div
    class="bg-card-black px-4 sm:px-6 py-2 rounded-xl flex justify-center items-center"
  >
    <a href="/" class="text-white font-bold text-2xl mr-4 sm:mr-10 p-2">w.</a>
    <SearchBar client:load />
  </div>

  <a
    href="https://github.com/Thisisaarush/Weather-App"
    target="_blank"
    class="bg-card-black p-3 rounded-[10px] hover:bg-white/10"
  >
    <img src={githubIcon} alt="github" />
  </a>
</nav>
